html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Planos
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,100', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='../lib/css/bootstrap.css')
  link(rel='stylesheet', href='../lib/css/register/lineicons.css')
  link(rel='stylesheet', href='../lib/css/register/styles.css')
  link(rel="stylesheet", href="lib/css/style.css")
  link(rel="stylesheet", href="lib/css/fonts.css")
  link(rel="stylesheet", href="lib/css/ie.css")
  link(rel="stylesheet", href="lib/css/animate.css")
  link(rel="stylesheet", href="lib/css/layerslider.css")
  link(rel="stylesheet", href="lib/css/owl.carousel.css")
  link(rel="stylesheet", href="lib/css/owl.theme.css")
  link(rel="stylesheet", href="lib/js/prettyPhoto/css/prettyPhoto.css")
  link(href="http://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet", type="text/css")
  link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic", rel="stylesheet", type="text/css")
  script(src="lib/js/jquery-1.11.1.min.js")
  script(src="lib/js/jquery-migrate-1.2.1.js")
body
        .col
        .center-container_plans(style="text-align: center;width: 400px;margin: 0 auto;")
          img(src="../lib/images/logo.png", style="width: 250px;")
          form(action="/plans", method="get")
            .form-group
              input.center-form.form-control(name='promotion_code', type='text', placeholder='Código promocional')
              input.button.btn-default.btn-ghost(type='submit', value='Aplicar desconto!', style="width: 100%; margin-top:5px")
        .section_wrapper
          .section_box_plans(style="margin-left: 30px;")
            .row
              each plan in plans
                form(method="post", action="/plans/apply")
                  input(type="hidden", name="plan_id", value="#{plan._id}")
                  - var month_price = (plan.price/Plan.periodicity[plan.periodicity].valid_base_in_month).toFixed(2)
                  .fourcol.price_item.up_fade
                    div.price_head(class="#{(plan.featured)?'red_head':'grey_head'}")
                      h2 Plano #{Plan.periodicity[plan.periodicity].label}
                      h4
                        | R$ #{Math.floor(month_price)},
                        small(style="color:white") #{(month_price % 1).toFixed(2).toString().substring(2)}
                    ul.price_features
                      li.first
                        span.left
                          span.bold #{plan.detail}
                        span.right
                          i.icon.icon-check-mark.green
                      li
                        span.left
                          span.bold Total: 
                          | R$ #{(plan.price).toFixed(2)}
                        span.right
                          i.icon.icon-check-mark.green
                    .price_button_wrapper
                      a.price_button(class="#{(plan.featured)?'pb_red':'pb_grey'}", onclick="$(this).closest('form').submit()") Contratar   
                      img(src="../lib/images/selo_de_garantia.png", style="width:150px")

    script(src='../lib/js/jquery.js')
    script(src='../lib/js/bootstrap.js')
    script(src='../lib/js/canvas.js')
    include ../google_analytics.jade
    script.
      (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6022099500451', {'value':'0.01','currency':'BRL'}]);
    noscript
      img(height="1",width="1",alt="",style="display:none",src="https://www.facebook.com/tr?ev=6022099500451&amp;cd[value]=0.01&amp;cd[currency]=BRL&amp;noscript=1")
 
