extend ../admin_template
block content
  .row
    .col-lg-3.col-md-6
      h1.page-header #{clients.length} Clientes
  .row
    .col-lg-8
      .panel.panel-default
        .panel-heading
          h4
            i.fa.fa-bar-chart-o.fa-fw
            | Clientes no ultimo mês
        .panel-body
          #clients-of-month
    
  .row
    each client in clients
      .col-lg-3.col-md-6
        .panel.panel-default
          .panel-heading
            .row
              .col-lg-12.client-name
                h5.media-heading= client.name
          .panel-body
            .address
              strong Email
              br
              = client.email || '-'
            .address
              strong Telefone
              br
              = client.phone || '-'
          
block scripts
  script.
    Morris.Area({
      element: 'clients-of-month',
      data: !{JSON.stringify(clients_report.data)},
      xkey: 'period',
      xLabelFormat: function(d) {
        var parts = d.label.split('/');
        return  parts[0]+ ' ' + ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov', 'Dez'][parts[1]-1];
      },
      ykeys: ['quantity'],
      labels: ['Quantidade'],
      pointSize: 2,
      hideHover: 'auto',
      resize: true,
      parseTime: false,
      goals: [2]
    });

      
