extend ../admin_template
block menu
  if supervisor_invite
    .btn.btn-danger.btn-lg.pull-right(data-toggle="modal", data-target="#myModal")
      i.fa.fa-heart.fa-fw
      | Você tem um convite!
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Parabéns! #{supervisor_invite.account.name} quer se tornar sua diretora.
          .modal-footer
            form(action="/account/invite/accept", method="post")
              input(type="hidden", name="id", value="#{supervisor_invite._id}")
              button.btn.btn-primary(type='submit') Aceitar
block content
  .row
    .col-lg-12
      h1.page-header Dashboard
  .row
    .col-lg-3.col-md-6
      a(href='/account/clients')
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                img.icon-dashboard(src='/lib/images/icon_cliente.png')
              .col-xs-9.text-right
                .huge= total_clients
                div Clientes!
          .panel-footer
            span.pull-left Veja mais!
            span.pull-right
              i.fa.fa-arrow-circle-right
            .clearfix  
    .col-lg-3.col-md-6
      a(href='/account/tasks')
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                img.icon-dashboard(src='/lib/images/icon_agenda.png')
              .col-xs-9.text-right
                .huge= total_tasks
                div Atividades Pendentes!
          .panel-footer
            span.pull-left Veja mais!
            span.pull-right
              i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      a(href='/account/sales')
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                img.icon-dashboard(src='/lib/images/icon_venda.png')
              .col-xs-9.text-right
                .huge= total_sales
                div Vendas no mês!
          .panel-footer
            span.pull-left Veja mais!
            span.pull-right
              i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-3.col-md-6
      a(href='/account/postsales')
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                img.icon-dashboard(src='/lib/images/icon_posvenda.png')
              .col-xs-9.text-right
                .huge= total_possales
                div Pós-Vendas a realizar!
          .panel-footer
            span.pull-left Veja mais!
            span.pull-right
              i.fa.fa-arrow-circle-right
            .clearfix
  if sales_report && sales_report.lines.length==0
    .row
      .col-lg-12
        .panel.panel-red
          .panel-heading
            | Você não tem nenhuma venda!
          .panel-body
            p
              | Baixe nosso aplicativo e começe e registrar suas vendas
            a.appstore(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app", target="_blank")
              img.appstores(src="/lib/images/play-store.png")
            a.appstore(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8", target="_blank")
              img.appstores(src="/lib/images/App-Store.png")
  else 
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            h4
              i.fa.fa-bar-chart-o.fa-fw
              | Vendas do último mês
          .panel-body
            #sales-of-month
      .col-lg-4
        .panel.panel-default
          .panel-heading
            h4 
              i.fa.fa-bar-chart-o.fa-fw
              |  Vendas por linha
          .panel-body
            #morris-donut-chart
            
block scripts
  if sales_report && sales_report.lines.length>0
    script.
      Morris.Area({
        element: 'sales-of-month',
        data: !{JSON.stringify(sales_report.data)},
        xkey: 'period',
        xLabelFormat: function(d) {
          var parts = d.label.split('/');
          return  parts[0]+ ' ' + ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov', 'Dez'][parts[1]-1];
        },
        ykeys: !{JSON.stringify(sales_report.lines)},
        labels: !{JSON.stringify(sales_report.lines)},
        pointSize: 2,
        hideHover: 'auto',
        resize: true,
        parseTime: false,
        goals: [200]
      });

      Morris.Donut({
        element: 'morris-donut-chart',
        data: !{JSON.stringify(sales_report.totalLines)},
        resize: true,
        formatter: function (x, data) {
          return "R$ "+data.value.formatMoney(2, ',', '.');
        }
      });
