doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title MakeUp Club - Registro
    link(href="/lib/css/bootstrap.min.css", rel="stylesheet")
    link(href='/lib/css/register/styles.css', rel='stylesheet')
    //if lt IE 9
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  body
    .container-fluid
      .row.main-container
        .title
          img(src="/lib/images/logo.png")
          h1.title Informe seu email para trocar a senha.
        div
          form(method='post',  action='/account/password/reset')
            .form-group
              input.form-control(name='email', type='email', placeholder='E-mail')
            input.button.btn-ghost(type='submit', value='Trocar a senha')
            a.button.btn-ghost(href='/painel/#/login') Login
    script(src="/lib/js/jquery.min.js")
    script(src="/lib/js/bootstrap.min.js")

    script(src='/lib/js/jquery.mask.min.js')
    //- script(src='/lib/js/canvas.js')
    script(src='/lib/js/register/script.js')
    include ../google_analytics.jade 
    script.
      jQuery(document).ready(function() {
      jQuery('input[type=tel]').mask("(00) 0000-00009").ready(function(event) {
        var target, phone, element;
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;
        phone = target.value.replace(/\\D/g, '');
        element = $(target);
        element.unmask();
          if(phone.length > 10) {
          element.mask("(00) 0000-00009");
          } else {
          element.mask("(00) 0000-00009");
          }
        });
      });
      (jQuery);
