extend ../admin_template
block content
  .row
    .col-lg-12
      h1.page-header Editar perfil
  .row
    .col-md-8.col-sm-6.col-xs-12.personal-info
      h3 Informações pessoais
      form.form-horizontal(role="form", method="POST", action="/account/profile", id="formEditProfile")
        if account.supervisor
          .form-group
            label.col-lg-3.control-label Diretora direta:
            .col-lg-8
              | #{account.supervisor.name}
        .form-group
          label.col-lg-3.control-label Diretora:
          .col-lg-8
            input(type="checkbox", data-on-text="SIM", data-off-text="NÃO", name="isSupervisor", value='true', checked=account.isSupervisor==true)
        .form-group
          label.col-lg-3.control-label Nome:
          .col-lg-8
            input.form-control(type="text", value="#{account.name}", name="name")
        .form-group
          label.col-lg-3.control-label Email:
          .col-lg-8
            input.form-control(type="text", value="#{account.email}", name="email")
        .form-group
          label.col-lg-3.control-label Telefone:
          .col-lg-8
            input.form-control(type="text", value="#{account.phone}", name="phone")
        .form-group
          label.col-lg-3.control-label Marcas:
          .col-lg-8
            .row
              each brand in brands
                .col-lg-8
                  =brand.name
                .col-lg-4
                  input.brand-option(type="checkbox", value="#{brand._id}", name="brands[]", checked=account.brands.indexOf(brand._id)>=0)
        .form-group
          label.col-md-3.control-label
          .col-md-8
            input.btn.btn-primary(type="submit", value="Salvar", id="salvarEdicao")

block scripts
  script $("[name='isSupervisor']").bootstrapSwitch();
  script $(".brand-option").bootstrapSwitch();



