doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title MakeUp Club - Registro
    link(href="/lib/css/bootstrap.min.css", rel="stylesheet")
    link(href='/lib/css/register/styles.css', rel='stylesheet')
    //if lt IE 9
      script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  body
    .container-fluid
      .row.main-container
        .title
          img(src="../lib/images/logo.png")
          h1.title Crie sua conta!
          if errors
            .errors Erro ao registrar: 
              each error, index in errors
                if error.param
                  li= index + ' - ' + error.param + ' - ' +error.msg
                else
                  li= error
        div
          form(method='post', action='/account')
            input.form-control(name='testdays', type='hidden', value="#{days}")

            .form-group
              input.form-control(name='name', type='text', placeholder='Nome', value="#{req.name||''}")
            .form-group
              input.form-control(name='email', type='email', placeholder='E-mail', value="#{req.email||''}")
            .form-group
              input.form-control(name='phone', type='tel', id="txttelefone", placeholder='Telefone', value="#{req.phone||''}")
            .form-group
              input.form-control(name='password', type='password', placeholder='Senha')
            .form-group
              input.form-control(name='password_confirmation', type='password', placeholder='Confirmação da senha')
            .form-group
              label.col-lg-3.control-label Marcas:
              .col-lg-8
                .row
                  each brand in brands
                    .col-lg-8
                      =brand.name
                    .col-lg-4
                      input.brand-option(type="checkbox", value="#{brand._id}", name="brands[]")
            input.button.btn-ghost(type='submit', value='Registre-se (#{days} Dias Grátis)')
            span.or-login ou
            a.button.btn-ghost(href='/session/new') Login
          a(href="/account/password/forgot") Esqueceu a senha?
    script(src="/lib/js/jquery.min.js")
    script(src="/lib/js/bootstrap.min.js")

    script(src='/lib/js/jquery.mask.min.js')
    //- script(src='/lib/js/canvas.js')
    script(src='/lib/js/register/script.js')
    include ../google_analytics.jade 
    script $(".brand-option").bootstrapSwitch();
    script.
      jQuery(document).ready(function() {
      jQuery('input[type=tel]').mask("(00) 0000-00009").ready(function(event) {
        var target, phone, element;
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;
        phone = target.value.replace(/\\D/g, '');
        element = $(target);
        element.unmask();
          if(phone.length > 10) {
          element.mask("(00) 0000-00009");
          } else {
          element.mask("(00) 0000-00009");
          }
        });
      });
      (jQuery);
