extend ../admin_template
block content
  - var total_value = function(result, item){ return result + item.quantity*item.price; };
  
  .row
    .col-lg-3.col-md-6
      h1.page-header #{sales.length} Vendas
  if sales_report.lines.length>0
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            h4
              i.fa.fa-bar-chart-o.fa-fw
              | Vendas no ultimo mês
          .panel-body
            #sales-of-month
          table.table.table-hover.table-bordered.table-responsive
            thead
              tr
                th Pago
                th Cliente
                th Data Venda
                th Total (R$)
                th Produtos
            tbody
              for sale in sales
                tr(class="#{(sale.is_paid)?'':'warning'}")
                  td
                    if sale.is_paid
                      i.fa.fa-check
                    else
                      i.fa.fa-times
                  td= sale.client.name
                  td= moment(sale.date_sale).format('DD/MM/YYYY')
                  td= numeral(sale.items.reduce(total_value, 0)).format('R$ 0,0.00')
                  td
                    .dropdown
                      button.btn.btn-default(data-toggle='dropdown')
                        i.fa.fa-list
                      ul.dropdown-menu(role='menu')
                        li(role="presentation")
                          for item in sale.items
                            a(role="menuitem",tabindex="-1") Qnt: #{item.quantity} - #{numeral(item.price).format('R$ 0,0.00')} - #{item.product.name}
                          
  else
    .row
      .col-lg-12
        .panel.panel-red
          .panel-heading
            | Você não tem nenhuma venda!
          .panel-body
            p
              | Baixe nosso aplicativo e começe e registrar suas vendas
            a.appstore(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app", target="_blank")
              img.appstores(src="/lib/images/play-store.png")
            a.appstore(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8", target="_blank")
              img.appstores(src="/lib/images/App-Store.png")

block scripts
  if sales_report.lines.length>0
    script.
      Morris.Area({
        element: 'sales-of-month',
        data: !{JSON.stringify(sales_report.data)},
        xkey: 'period',
        xLabelFormat: function(d) {
          var parts = d.label.split('/');
          return  parts[0]+ ' ' + ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov', 'Dez'][parts[1]-1];
        },
        ykeys: !{JSON.stringify(sales_report.lines)},
        labels: !{JSON.stringify(sales_report.lines)},
        pointSize: 2,
        hideHover: 'auto',
        resize: true,
        parseTime: false,
        goals: [200]
      });
    
  
