extend ../admin_template
block content
  - var today = new Date();
  .row
    .col-lg-3.col-md-6
      h1.page-header #{tasks.length} Tarefas a em Aberto
  if tasks_report.types.length>0
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            h4
              i.fa.fa-bar-chart-o.fa-fw
              | Tarefas em aberto no ultimo mês
          .panel-body
            #tasks-of-month
  else
    .row
      .col-lg-12
        .panel.panel-red
          .panel-heading
            | Você não tem nenhuma agenda!
          .panel-body
            p
              | Baixe nosso aplicativo e começe e registrar suas vendas
            a.appstore(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app", target="_blank")
              img.appstores(src="/lib/images/play-store.png")
            a.appstore
              img.appstores(src="/lib/images/Em-Breve-App-Store.png")
  .row
    .col-lg-8
      .panel.panel-default
        .panel-heading
          h4
            i.fa.fa-bar-chart-o.fa-fw
            | Tarefas em aberto
        .panel-body
        table.table.table-hover.table-bordered.table-responsive
          thead
            tr
              th Realizado
              th Cliente
              th Data
              th Tipo
          tbody
            for task in tasks
              tr(class="#{(task.is_realized && task.start_at<today)?'':'warning'}")
                td
                  if task.is_paid
                    i.fa.fa-check
                  else
                    i.fa.fa-times
                td= task.client.name
                td= moment(task.start_at).format('DD/MM/YYYY')
                td= task.type

block scripts
  script.
    document._report = !{JSON.stringify(tasks_report)};
  if tasks_report.types.length>0
    script.
      Morris.Area({
        element: 'tasks-of-month',
        data: !{JSON.stringify(tasks_report.data)},
        xkey: 'period',
        xLabelFormat: function(d) {
          var parts = d.label.split('/');
          return  parts[0]+ ' ' + ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov', 'Dez'][parts[1]-1];
        },
        ykeys: !{JSON.stringify(tasks_report.types)},
        labels: !{JSON.stringify(tasks_report.types)},
        pointSize: 2,
        hideHover: 'auto',
        resize: true,
        parseTime: false,
        goals: [5]
      });
    
  
