extend ../admin_template
block content
  .row
    .col-lg-12
      h1.page-header Obrigada!!!
  .row
    .col-lg-12
      .panel.panel-green
        .panel-heading
          h4 Agorá é só baixar o aplicativo e começar!
        .panel-body
          p
            | Baixe nosso aplicativo e começe e registrar suas vendas
          a.appstore(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app", target="_blank")
            img.appstores(src="/lib/images/play-store.png")
          a.appstore(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8", target="_blank")
            img.appstores(src="/lib/images/App-Store.png")
 
            
block scripts
  script.
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6022099500451', {'value':'0.01','currency':'BRL'}]);
  noscript
    img(height="1",width="1",alt="",style="display:none",src="https://www.facebook.com/tr?ev=6022099500451&amp;cd[value]=0.01&amp;cd[currency]=BRL&amp;noscript=1")
  
