extend ../../admin_template
block content

  .row
    .col-lg-3.col-md-6
      h1.page-header Nº Demonstrações
  .row
    .col-lg-8
      .panel.panel-default
        .panel-heading
          h4
            i.fa.fa-bar-chart-o.fa-fw
            | Nº demonstrações da consultora {}
        .panel-body

  .row
      .col-lg-3.col-md-6
        .panel.panel-default
          .panel-heading
            .row
              .col-lg-3.col-md-6
                img.img-responsive.img-circle(img src="http://dailymail.com.ng/wp-content/uploads/2014/10/Woman-smile-beautiful-hd-get-73591.jpg", style="width:80px")
              .col-lg-9
                h4.media-heading= Teste
          .panel-body
            .address
              strong Email
              br
              | Email
            .address
              strong Telefone
              br
              | Telefone

      .col-lg-3.col-md-6
        .panel.panel-default
          .panel-heading
            .row
              .col-lg-3.col-md-6
                img.img-responsive.img-circle(img src="http://dailymail.com.ng/wp-content/uploads/2014/10/Woman-smile-beautiful-hd-get-73591.jpg", style="width:80px")
              .col-lg-9
                h4.media-heading= Teste
          .panel-body
            .address
              strong Email
              br
              | Email
            .address
              strong Telefone
              br
              | Telefone              