extend ../../admin_template
block content
  - account.supervisedAccounts = account.supervisedAccounts || [];
  - invites = invites || []
  .row
    .col-lg-12
      h1.page-header Suas consultoras
  .row
    .col-lg-6
      table.max.table.table-striped.table-bordered
        thead
          tr
            th(colspan=2) Consultoras ativas
        each supervisedAccount in account.supervisedAccounts
          tr
            td= supervisedAccount.name
            td= supervisedAccount.email
    .col-lg-6
      .panel.panel-default
        .panel-heading Convide suas consultoras
        .panel-body
          form.form-inline(action="/account/invite", method="post")
            input(type='hidden', name='is_managed', value="true")
            .form-group
              label.sr-only(for='name') Nome
              input#name.form-control(type='text', name="name", placeholder='Informe o nome')
            .form-group
              label.sr-only(for='email') Email
              input#email.form-control(type='email', name="email", placeholder='Informe email')
            button.btn.btn-default(type='submit') Convidar
      table.max.table.table-striped.table-bordered
        thead
          tr
            th(colspan=2) Consultoras convidadas
        each invite in invites
          tr
            td= invite.name
            td= invite.email
    
