extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
        | Olá #{account.name}, tudo bem?

      p
        | Isso mesmo, a culpa não foi sua, foi nossa. Eu vi que muitos links que eu te passei estavam incorretos, por isso estou aqui para te dizer que estou te oferecendo mais 30 dias de testes a partir de hoje como pedidos de desculpas. Então olha os links atuais:

      p
        | Aplicativo Android:
        a(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app") https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app

      p
        | Aplicativo IPhone:
        a(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8") https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8

      p
        | Olha nossos videos:
        | Como registrar um cliente -
        a(href="https://www.youtube.com/watch?v=c4p2FVYWh1s") https://www.youtube.com/watch?v=c4p2FVYWh1s
        br
        | Gerencias sua agenda -
        a(href="https://www.youtube.com/watch?v=c6NoxYpks6s") https://www.youtube.com/watch?v=c6NoxYpks6s
        br
        | Registre suas vendas -
        a(href="https://www.youtube.com/watch?v=ZXNnetPl01E") https://www.youtube.com/watch?v=ZXNnetPl01E
        br
        | Não perca vendas (Pós venda) -
        a(href="https://www.youtube.com/watch?v=IfgO8dw4J6s") https://www.youtube.com/watch?v=IfgO8dw4J6s
        br
        | Acompanhe todos seus dados -
        a(href="https://www.youtube.com/watch?v=KTyWAsPORfU") https://www.youtube.com/watch?v=KTyWAsPORfU
      p
        | Estou online para lhe ajudar!

      p
        | Abraços,
