doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title MakeupClub APP
    link(href='/lib/css/bootstrap.min.css', rel='stylesheet')
    link(href='/lib/css/bootstrap-switch.min.css', rel='stylesheet')
    link(href='/lib/css/metisMenu.min.css', rel='stylesheet')
    link(href='/lib/css/timeline.css', rel='stylesheet')
    link(href='/lib/css/sb-admin-2.css', rel='stylesheet')
    link(href='/lib/css/sb-admin-2.extended.css', rel='stylesheet')
    link(href='/lib/css/morris.css', rel='stylesheet')
    link(href='/lib/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/account') MakeupClub App
        ul.nav.navbar-top-links.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-user
              li
                a(href='/account/profile')
                  i.fa.fa-user.fa-fw
                  |  Perfil
              li
                a(href='/account/settings')
                  i.fa.fa-gear.fa-fw
                  |  Configurações
              li.divider
              li
                a(href='/session/destroy')
                  i.fa.fa-sign-out.fa-fw
                  |  Sair
        block menu
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li
                a(href='/account')
                  i.fa.fa-dashboard.fa-fw
                  |  Dashboard
              li
                a(href='/account/clients')
                  i.fa.fa-user.fa-fw
                  |  Clientes
              li
                a(href='/account/tasks')
                  i.fa.fa-calendar.fa-fw
                  |  Agenda
              li
                a(href='/account/sales')
                  i.fa.fa-money.fa-fw
                  |  Vendas
              li
                a(href='/account/postsales')
                  i.fa.fa-heart.fa-fw
                  |  Pós-Vendas
              if isPermitedTo('create', 'products')
                li
                  a(href='/products')
                    i.fa.fa-gift.fa-fw
                    |  Produtos
              if account && account.isSupervisor
                li
                  a(href='/account/supervisor')
                    i.fa.fa-bar-chart-o.fa-fw
                    |  Diretora
                    span.fa.arrow
                  ul.nav.nav-second-level.collapse.in
                    li
                      a(href='/account/supervisor/clients') Nº de novos clientes
                    li
                      a(href='/account/supervisor/sales') Nº de vendas                  
                    li
                      a(href='/account/supervisor/demonstrations') Nº de demonstrações
                    li
                      a(href='/account/supervisor/opportunities') Nº de oportunidades                
              
          // /.sidebar-collapse
        // /.navbar-static-side
      #page-wrapper
        if success
          .alert.alert-success.alert-dismissible(role="alert")
            button.close(type="button", data-dismiss="alert", aria-label="Close")
            = success
        if errors
          for error in errors
            .alert.alert-danger.alert-dismissible(role="alert")= error.toString()
        block content
      
    script(src='/lib/js/jquery.min.js')
    script(src='/lib/js/bootstrap.min.js')
    script(src='/lib/js/bootstrap-switch.min.js')
    script(src='/lib/js/metisMenu.min.js')
    script(src='/lib/js/raphael-min.js')
    script(src='/lib/js/morris.min.js')
    script(src='/lib/js/morris-data.js')
    script(src='/lib/js/sb-admin-2.js')
    script(src='/lib/js/fixtures.js')
    script(src='/lib/js/angular.min.js')
    include google_analytics.jade 
    block scripts
    
  
