extends template
block mailVars

block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1
        | Olá, 
        =account.name
        |,    
      p  
        | Vi que você se interessou em produtos da marca
        =brand.name
        | &bnsb; enquanto assistia ao vídeo
        a(href="https://www.youtube.com/watch?v="+post.video_id+"")  
          =post.title
      p 
        |Estou buscando uma revendedora para lhe atender. 
        | &bnsb; Mas não se preocupe, entrarei em contato com você. ;)
      p
        
