extends template

block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1
        | Olá,&nbsp;
        =reseller.name
        |, 
      p
        | A usuária 
        =account.name
        | &nbsp; que foi convidada por você para participar do Makeup Club
        |&nbsp; demonstrou interesse em adquirir produtos da marca &nbsp;
        =brand.name
        |&nbsp; enquanto assistia ao vídeo &nbsp;
        a(href="https://www.youtube.com/watch?v="+post.video_id+"") 
          =post.title
      p
        | Entre em contato com ela e agende uma visita:

  tr
    td
      table.news-defaul-info-table(width='100%')
        tbody
          tr
            th
                |Nome
            td
               =account.name
          tr
            th
                |Email
            td
               =account.email
          tr
            th
              |Fone
            td
              =account.phone
          tr
            th
              | Cidade
            td
              =account.location
