extends template
block mailVars

block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1
        | Olá, 
        =account.name
        |,    
      p
        | Vi que você se interessou em produtos da marca
        =brand.name
        | &bnsb; enquanto assistia ao vídeo
        a(href="https://www.youtube.com/watch?v="+post.video_id+"")  
          =post.title
      p  
        | Já informei a revendedora  
        =reseller.name 
        |&nbsp; sobre seu interesse nos produtos da 
        =brand.name
        |.
      p  
        | Em breve ela entrará em contato. 
        | para agendar uma visita. Mas caso você tenha pressa, 
        | seguem abaixo os contatos dela:

  tr
    td
      table.news-defaul-info-table(width='100%')
        tbody
          tr
            th
                |Nome
            td
               =reseller.name
          tr
            th
                |Email
            td
               =reseller.email
          tr
            th
              |Fone
            td
              =reseller.phone



 