script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58960349-5', 'auto');
  ga('send', 'pageview');

script.
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '1654299744797319']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
if account
  script.
    window.intercomSettings = {
      app_id: "e00dhgng",
      name: !{JSON.stringify(account.name)}, // Full name
      email: !{JSON.stringify(account.email)}, // Email address
      created_at: !{JSON.stringify(account.createdAt.getTime() / 1000)}, // Signup date as a Unix timestamp
      user_id: !{JSON.stringify(account._id)} // Signup date as a Unix timestamp
    };
else
  script.
    window.intercomSettings = {
      app_id: "e00dhgng"
    };

script.
  (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/e00dhgng';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
noscript
  img(height="1", width="1", alt="", style="display:none", src="https://www.facebook.com/tr?id=1654299744797319&ev=PixelInitialized")
