doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1")
    title MakeUpClub
    link(rel="shortcut icon", href="lib/images/favicon.png")
    meta(name="description", content="")
    meta(name="author", content="")
    // 1140px Grid styles for IE
    //if lte IE 9
      link(rel="stylesheet", href="lib/css/ie.css", type="text/css", media="screen")
    // CSS concatenated and minified via ant build script
    style
      include ../public/lib/bootstrap/bootstrap.min.css
      include ../public/lib/bootstrap/bootstrap-theme.min.css
      include ../public/lib/css/style.css
      include ../public/lib/css/fonts.css
      include ../public/lib/css/ie.css
      include ../public/lib/css/animate.css
      include ../public/lib/css/layerslider.css
      include ../public/lib/css/owl.carousel.css
      include ../public/lib/css/owl.theme.css
      include ../public/lib/js/prettyPhoto/css/prettyPhoto.css
    link(href="http://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic", rel="stylesheet", type="text/css")  

  body
    #container
      header#header_wrapper
        #header.clearfix
          .row
            a#logo(href="/")
              img#logo-img(src="lib/images/logo.png", alt="")
            nav#navigation(role="navigation")
              ul#nav
                li
                  a(href="#container") Home
                li
                  a(href="#como_funciona") Como funciona
                li
                  a(href="#pricing") Quanto custa                
                li
                  a(href="#funcionapramim") Ideal para
                li
                  a(href="#about") Dashboard
                a.button-eu-quero(href='/painel/register.html') EU QUERO 15 DIAS GRÁTIS!
                a#button-login(href='/painel/login.html') LOGIN
      section#slider-wrapper
        #layerslider(style="width:1140px;height:580px;max-width: 1140px; margin:0 auto;")
          .ls-slide
            img.ls-l(style="top:80px;left:50%;white-space: nowrap;", src="lib/images/iphone.png", alt="")
            h2.ls-l(style="top:55px;left:0px;font-weight: 800; height:42px;font-size:42px;line-height:42px;color:#fff;white-space: nowrap;")
              | Gerencie suas vendas, clientes
              br
              | e relacionamento
            p.ls-l(style="top:163px;left:0;font-weight: 600;font-size:22px; line-height:32px;color:#ebf8fc;white-space: nowrap;")
              | Com o MakeUpClub você faz tudo isso 
              br
              | no seu celular, mesmo sem internet. 
              br
              br
              a.button-eu-quero(href='/painel/register.html') EU QUERO 15 DIAS GRÁTIS!

          .ls-slide
            img.ls-l(style="top:120px;left:40%;white-space: nowrap;", src="lib/images/ls4.png", alt="")
            img.ls-l(style="top:180px;left:25%;white-space: nowrap;", src="lib/images/ls1_1.png", alt="")
            img.ls-l(style="top:320px;left:8%;white-space: nowrap;", src="lib/images/ls2.png", alt="")
            img.ls-l(style="top:240px;left:40%;white-space: nowrap;", src="lib/images/ls3.png", alt="")
            img.ls-l(style="top:82px;left:47%;white-space: nowrap;", src="lib/images/ls5.png", alt="")
            img.ls-l(style="top:82px;left:42%;white-space: nowrap;", src="lib/images/ls6.png", alt="")
            img.ls-l(style="top:75px;left:20%;white-space: nowrap;", src="lib/images/ls7.png", alt="")
            h2.ls-l(style="top:135px;left:635px;font-size:42px;color:#fff;white-space: nowrap;") 
              | Analise suas vendas 
              br
              | na sua 
              strong
                | plataforma web
            p.ls-l(style="top:253px;left:635px;font-weight: 300;font-size:22px; line-height:32px;color:#ebf8fc;white-space: nowrap;")
              | Acompanhe as vendas em gráficos 
              br
              | e em relatórios personalizados
              br
              | que te possibilitará de forma prática e rápida 
              br
              | uma maior organização.
              borderlesslight
              br
              br
              a.button_orange_slide(href='#como_funciona') SAIBA MAIS

      section#como_funciona
        .call_to_action_white_wrapper
          .call_to_action_white
            h3.left_fade Como ele funciona?
            .separator_wrapper.bounce_fade
              .separator_first_circle
                .separator_second_circle
        .section_wrapper
          .section_box
            .row
              .twelvecol
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .zoom_photo
                    .view.view-first
                      img(src="lib/images/4.avatar.svg")
                  .services_box
                    h3 Gerencie suas tarefas
                    p 
                      | Gerencie tarefas específicas como ligações, visitas e mensagens.
                      | Você será notificada mesmo sem internet. E todas essas informações
                      | serão sincronizadas automaticamente.

                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .zoom_photo
                    .view.view-first
                      img(src="lib/images/3.avatar.svg")
                  .services_box
                    h3 Registre suas vendas
                    p
                      | É disponibilizado um catálogo de produtos onde você poderá efetuar suas vendas em qualquer lugar.
                      | De maneira fácil você ainda poderá gerenciar o seu relacionamento com o cliente.
                .fourcol.services_item.align_center.left_fade.animated.last.fadeInRight.fadeInUp
                  .zoom_photo
                    .view.view-first
                      img(src="lib/images/1.avatar.svg")
                  .services_box
                    h3 Analise os resultados
                    p Todos os seus dados serão sincronizadas automaticamente para a nossa plataforma online, onde é
                      | disponibilizado alguns gráficos de perfomance que permitirão analisar todas as suas vendas.
      
      section.querousar
        br
        h1#comeceagora Comece agora a aproveitar todas as vantagens do MakeUpClub!
        br
        a.button_orange(href='/painel/register.html') EU QUERO 15 DIAS GRÁTIS!

      section#pricing
        .call_to_action_white
          h3.left_fade Quanto custa?
          .separator_wrapper.bounce_fade
            .separator_first_circle
              .separator_second_circle          
        .call_to_action_white_wrapper
          .section_wrapper
            .section_box
              .row
                .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .price_head.ligth_blue_head
                    h2 Plano Mensal
                    h4
                      | R$ 29,
                      small 90
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold Sem Desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 29,90
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_light_blue(href='/painel/register.html') Registre-se     
                .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .price_head.ligth_green_head
                    h2 Plano Trimestral
                    h4
                      | R$ 26,
                      small 90
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold 10%
                        |  de desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 80,70
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_light_green(href='/painel/register.html') Registre-se            
                .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .price_head.orange_head
                    h2 Plano Semestral
                    h4
                      | R$ 22,
                      small 40
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold 25%
                        |  de desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 134,52
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_orange(href='/painel/register.html') Registre-se   
                .ajuste_tamanho.fourcol.fourcol.services_item.align_center.left_fade.animated.last.fadeInRight.fadeInUp
                  .price_head.pink_head
                    h2 Plano Anual
                    h4
                      | R$ 17,
                      small 90
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold 40%
                        |  de desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 215,28
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_pink(href='/painel/register.html') Registre-se 
                div.garantia
                  img(src="lib/images/selo-garantia.png")
                  p(style="font-size:20px; text-align:center").
                    Sabemos o quanto você é especial pra nós, 
                    por isso te gantimos 100% de satisfação ou 100% do seu dinheiro de volta, 
                    ou seja, você terá 15 dias de garantia pelo pagseguro e mais 15 dias de garantia
                    pelo MakeUpClub.

      section.querousar
        br
        h1#comeceagora Comece agora a aproveitar todas as vantagens do MakeUpClub!
        br
        a.button_orange(href='/painel/register.html') EU QUERO 15 DIAS GRÁTIS!

      section#funcionapramim
        .call_to_action_white_wrapper
          .call_to_action_white
            h3.left_fade O MakeUpClub é ideal para:
            .separator_wrapper.bounce_fade
              .separator_first_circle
                .separator_second_circle
        .section_wrapper
          .section_box
            .row
              .twelvecol
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .zoom_photo
                    .view.view-first
                      img(src="lib/images/consult-extra.png")
                  .services_box(style="min-height:72px")
                    h3 Consultoras com Renda Extra

                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .zoom_photo
                    .view.view-first
                      img(src="lib/images/consult-full.png")

                  .services_box(style="min-height:72px")
                    h3 Consultoras com Renda Principal

                .fourcol.services_item.align_center.left_fade.animated.last.fadeInRight.fadeInUp
                  .zoom_photo
                    .view.view-first
                      img(src="lib/images/diretora.png")
                  .services_box(style="min-height:72px")
                    h3 Supervisoras/Diretoras

      section.querousar(style="margin-bottom: 60px;position: relative;z-index: 999;")
        br
        h1#comeceagora Comece agora a aproveitar todas as vantagens do MakeUpClub!
        br
        a.button_orange(href='/painel/register.html') EU QUERO 15 DIAS GRÁTIS!

      section#testemunhos   
        .testimonials_wrapper
          .testimonials_box
            ul#slider4.rslides
              li
                .row
                  .twelvecol
                    .fivecol
                      .testimonials_info
                        img.testimonials_picture(src="lib/images/consultora.png", alt="Luana")
                        p.testimonials_name
                          | Luana
                          br
                          span Consultora de beleza
                          br
                          span Mary Kay

                    .sevencol.last
                      p.testimonials_text
                        | "Crie o h&#225;bito de ter um relat&#243;rio mensal das suas vendas e no que voc&#234; tem investido. Compare os relat&#243;rios e veja onde voc&#234; tem acertado e errado."
              li
                .row
                  .twelvecol
                    .fivecol
                      .testimonials_info
                        img.testimonials_picture(src="lib/images/consultora.png", alt="Luana")
                        p.testimonials_name
                          | Luana
                          br
                          span Consultora de beleza
                          br
                          span Mary Kay                        
                    .sevencol.last
                      p.testimonials_text
                        | "&#201; necess&#225;rio ter uma vis&#227;o ampla e estrat&#233;gica do seu neg&#243;cio, em rela&#231;&#227;o ao nosso mercado t&#227;o concorrido. S&#243; assim voc&#234; ter&#225; mais compet&#234;ncia na administra&#231;&#227;o das suas vendas."
      section#about
        .section_wrapper
          .section_box
            .row
              .twelvecol
                .fivecol.left_fade
                  img(src="lib/images/pic3.png", alt="picture")
                .sevencol.last.padding_top.right_fade(style="text-align:left")
                  br
                  br
                  br
                  h2 Acompanhe sua evolu&#231;&#227;o atrav&#233;s de gr&#225;ficos
                  p
                    | Al&#233;m do aplicativo mobile, oferecemos para voc&#234; uma plataforma web que lhe permite de forma mais pr&#225;tica acompanhar toda a sua evolu&#231;&#227;o. Veja n&#227;o apenas o quanto vendeu, mas tamb&#233;m quanto foi o seu lucro, as atividades que realizou durante o m&#234;s, e assim &#233; poss&#237;vel que voc&#234; avalie o que precisa melhorar para lucrar cada vez mais!
                  .featured_dropcap
                    span.dropcaps_icon
                      i.icon.icon-design-pencil-rule-streamline
                    p
                      | Voc&#234; n&#227;o precisa se preocupar em fazer backup dos seus dados, j&#225; que todos eles s&#227;o sincronizados automaticamente quando voc&#234; ativa a internet do seu smartphone.
        .section_wrapper.grey_border
      section.querousar
        br
        h1#comeceagora Comece agora a aproveitar todas as vantagens do MakeUpClub!
        br
        a.button_orange(href='/painel/register.html') EU QUERO 15 DIAS GRÁTIS!
      
      section#rodape
        .section_wrapper(style="background:#3CCFE5")
          .section_box
            .row
              .twelvecol
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .services_box(style="min-height:72px; border-radius:10px")
                    h3 Envie sua mensagem!
                    form.form-horizontal#formMensagem
                      .form-group
                        input.form-control(type="text", placeholder="Seu nome", name="nome")
                      .form-group
                        input.form-control(type="email", placeholder="Seu email", name="email")
                      .form-group
                        textarea.form-control(rows="3", name="mensagem")
                      .form-group
                        button.btn.btn-default(type="button", style="width:100%", id="enviarMensagem") Enviar
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .services_box(style="min-height:72px; border-radius:10px")
                    h3 Onde estamos:
                    iframe(width="100%", src="https://mapsengine.google.com/map/u/0/embed?mid=zinu3qOo2BwM.kufBIjVcuB4I&z=18")
                    address
                      p Rua Pereira Valente com Prof. Dias da Rocha, 542. 2 andar. Telefone: (85) 3039-7185
                      p Fortaleza - Ceará
                .fourcol.services_item.align_center.left_fade.animated.last.fadeInRight.fadeInUp
                  .services_box(style="min-height:72px; border-radius:10px")
                    h3 Curta o MakeUpClub!
                    iframe(
                      src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmakeupclubapp&width&height=290&colorscheme=light&show_faces=true&header=true&stream=false&show_border=true&appId=576023639124795", 
                      scrolling="no", frameborder="0", 
                      style="border:none; overflow:hidden; height:290px; background:white", 
                      allowtransparency="true")

    script(src="lib/js/jquery-1.11.1.min.js")
    script(src="lib/js/jquery-migrate-1.2.1.js")

    script(src="lib/js/modernizr-2.6.1.min.js")
    script(src="lib/js/plugins.js")
    script(src="lib/js/jquery.inview.js")
    script(src="lib/js/prettyPhoto/js/jquery.prettyPhoto.js")
    script(src="lib/js/retina.js")
    script(src="lib/js/script.js")
    script(type="text/javascript", src="lib/js/jquery.sticky.js")
    script.
      $(function(){
        $("#enviarMensagem").click(function(){
          if($('input[name="nome"]').val() != "" && $('input[name="email"]').val() != "" && $('input[name="mensagem"]').val() != ""){
            $.ajax({
              type: "POST",
              url: "/mail/send",
              data: $("#formMensagem").serialize()
            }).done(function() {
              $('input[name="nome"]').val("");
              $('input[name="email"]').val("");
              $('textarea[name="mensagem"]').val("");
              alert('Mensagem enviada com sucesso!');
            });
            } else {
              alert("Todos os campos são de preenchimentos obrigatórios");
            }
        });
      });
    script.
      $(window).load(function(){
        $("#header_wrapper").sticky({ topSpacing: 0 });
      });
    script(src="lib/js/jquery.scrollTo-min.js")
    script.
      (function($){
        $(document).ready(function() {
          $("#nav li a, a.scrool").click(function(e){
            var full_url = this.href;
            var parts = full_url.split("#");
            var trgt = parts[1];
            var target_offset = $("#"+trgt).offset();
            var target_top = target_offset.top;
            $('html,body').animate({scrollTop:target_top -69}, 1000);
            return false;
          });
        });
      })(jQuery);
    script(src="lib/js/jquery.nav.js")
    script.
      $(document).ready(function() {
        $('#nav').onePageNav({
          filter: ':not(.external)',
          scrollThreshold: 0.25
        });
      });
    script.
      $(function(){
        var shrinkHeader = 70;
        $(window).scroll(function() {
          var scroll = getCurrentScroll();
          if ( scroll >= shrinkHeader ) {
            $('#header_wrapper').addClass('shrink');
          }
          else {
            $('#header_wrapper').removeClass('shrink');
          }
        });
        function getCurrentScroll() {
          return window.pageYOffset;
        }
      });
    script(src="lib/js/owl.carousel.js")
    script.
      $(document).ready(function($) {
        $("#owl-example").owlCarousel();
      });
      $("body").data("page", "frontpage");
    script(src="lib/js/responsiveslides.min.js")
    script.
      $(function () {
        $("#slider4, #slider3").responsiveSlides({
          auto: true,
          pager: true,
          nav: true,
          pause: true,
          speed: 1500,
          timeout: 5000,
          namespace: "callbacks",
          before: function () {
            $('.events').append("<li>before event fired.</li>");
          },
          after: function () {
            $('.events').append("<li>after event fired.</li>");
          }
        });
      });
    script(src="lib/js/greensock.js")
    script(src="lib/js/layerslider.transitions.js")
    script(src="lib/js/layerslider.kreaturamedia.jquery.js")
    include google_analytics.jade
    script.
      $(document).ready(function(){
        $('#layerslider').layerSlider({
          autoStart: true,
          slideDelay: 5000,
          pauseOnHover: false,
          navPrevNext: false,
          navButtons: true,
          thumbnailNavigation: false,
          autoPlayVideos: false,
          firstLayer: 1,
          showCircleTimer: false,
          skin: 'borderlesslight',
          skinsPath: 'lib/layerslider/skins/'
        });
      });
    script.
      $(document).ready(function(){
        $('#layerslider2').layerSlider({
          autoStart: true,
          pauseOnHover: true,
          navPrevNext: false,
          navButtons: true,
          thumbnailNavigation: false,
          autoPlayVideos: false,
          firstLayer: 1,
          skin: 'borderlesslight',
          skinsPath: 'lib/layerslider/skins/'
        });
      });
