extends template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1
        |Olá, 
        =account.name
        |,
       p
        |Bem-vinda ao Makeup Club App, um lugar onde a beleza nunca sai de foco. 
        |&nbsp; Estamos felizes em te ver por aqui.
      p 
        |A partir de agora você tem um lugar certo para ver tudo sobre maquiagem. 
        |&nbsp; Com atualizações diárias, nosso aplicativo reúne diversos conteúdos 
        |&nbsp; e põe tudo na sua mão, para você levar na bolsa onde quer que vá.  
        
      p 
        | Vi que você é revendedora. 
        | Entrarei em contato com você para a conclusão do seu cadastro.
        | Mas caso queira, clique
        a(href="")
          | &nbsp; aqui 
        | &nbsp; e conclua o cadastro.  ;) 



   