
block menu
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1")
    title MakeUpClub
    link(rel="shortcut icon", href="/lib/images/favicon.png")
    meta(name="description", content="")
    meta(name="author", content="")
    // 1140px Grid styles for IE
    //if lte IE 9
      link(rel="stylesheet", href="/lib/css/ie.css", type="text/css", media="screen")
    // CSS concatenated and minified via ant build script
    link(rel="stylesheet", href="/lib/css/style.css")
    link(rel="stylesheet", href="/lib/css/fonts.css")
    link(rel="stylesheet", href="/lib/css/ie.css")
    link(rel="stylesheet", href="/lib/css/animate.css")
    link(rel="stylesheet", href="/lib/css/layerslider.css")
    link(rel="stylesheet", href="/lib/css/owl.carousel.css")
    link(rel="stylesheet", href="/lib/css/owl.theme.css")
    link(rel="stylesheet", href="/lib/js/prettyPhoto/css/prettyPhoto.css")
    link(href="http://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic", rel="stylesheet", type="text/css")
    script(src="/lib/js/jquery-1.11.1.min.js")
    script(src="/lib/js/jquery-migrate-1.2.1.js")
    block head
  body
    #container
      header#header_wrapper
        #header.clearfix
          .row
            a#logo(href="/")
              img#logo-img(src="/lib/images/logo.png", alt="")
            nav#navigation(role="navigation")
              ul#nav
                li
                  a(href="#container") Home
                li
                  a(href="#services") Servi&#231;os
                li
                  a(href="#features") O aplicativo
                li
                  a(href="#about") Dashboard
                li
                  a(href="#pricing") Planos
                a.button-eu-quero(href='/account/new') EU QUERO 7 DIAS GRÁTIS!
                a.button-login(href='/session/new') LOGIN
      block content 
        
    script(src="/lib/js/modernizr-2.6.1.min.js")
    script(src="/lib/js/plugins.js")
    script(src="/lib/js/jquery.inview.js")
    script(src="/lib/js/prettyPhoto/js/jquery.prettyPhoto.js")
    script(src="/lib/js/retina.js")
    script(src="/lib/js/script.js")
    // begin jquery.sticky script
    script(type="text/javascript", src="/lib/js/jquery.sticky.js")
    script.
      $(window).load(function(){
      $("#header_wrapper").sticky({ topSpacing: 0 });
      });
    script(src="/lib/js/jquery.scrollTo-min.js")
    script.
      (function($){
      $(document).ready(function() {
      /* This code is executed after the DOM has been completely loaded */
      $("#nav li a, a.scrool").click(function(e){
      var full_url = this.href;
      var parts = full_url.split("#");
      var trgt = parts[1];
      var target_offset = $("#"+trgt).offset();
      var target_top = target_offset.top;
      $('html,body').animate({scrollTop:target_top -69}, 1000);
      return false;
      });
      });
      })(jQuery);
    // end menu scrollTo script
    // begin menu color script
    script(src="/lib/js/jquery.nav.js")
    script.
      $(document).ready(function() {
      $('#nav').onePageNav({
      filter: ':not(.external)',
      scrollThreshold: 0.25
      });
      });
    // end menu color script
    // begin shrink header script
    script.
      $(function(){
      var shrinkHeader = 70;
      $(window).scroll(function() {
      var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
      $('#header_wrapper').addClass('shrink');
      }
      else {
      $('#header_wrapper').removeClass('shrink');
      }
      });
      function getCurrentScroll() {
      return window.pageYOffset;
      }
      });
    // end shrink header script
    // begin owl.carousel script
    script(src="/lib/js/owl.carousel.js")
    script.
      $(document).ready(function($) {
      $("#owl-example").owlCarousel();
      });
      $("body").data("page", "frontpage");
    // end owl.carousel script
    // begin slider script
    script(src="/lib/js/responsiveslides.min.js")
    script.
      // You can also use "$(window).load(function() {"
      $(function () {
      // Slideshow 4
      $("#slider4, #slider3").responsiveSlides({
      auto: true,
      pager: true,
      nav: true,
      pause: true,
      speed: 500,
      timeout: 5000,
      namespace: "callbacks",
      before: function () {
      $('.events').append("<li>before event fired.</li>");
      },
      after: function () {
      $('.events').append("<li>after event fired.</li>");
      }
      });
      });
    // end slider script
    // begin layerslider script
    script(src="/lib/js/greensock.js")
    script(src="/lib/js/layerslider.transitions.js")
    script(src="/lib/js/layerslider.kreaturamedia.jquery.js")
    include google_analytics.jade
    script.
      // Running the code when the document is ready
      $(document).ready(function(){
      // Calling LayerSlider on the target element with adding custom slider options
      $('#layerslider').layerSlider({
      autoStart: true,
      pauseOnHover: true,
      navPrevNext: false,
      navButtons: true,
      thumbnailNavigation: false,
      autoPlayVideos: false,
      firstLayer: 1,
      skin: 'borderlesslight',
      skinsPath: 'lib/layerslider/skins/'
      // Please make sure that you didn't forget to add a comma to the line endings
      // except the last line!
      });
      });
    script.
      // Running the code when the document is ready
      $(document).ready(function(){
      // Calling LayerSlider on the target element
      $('#layerslider2').layerSlider({
      autoStart: true,
      pauseOnHover: true,
      navPrevNext: false,
      navButtons: true,
      thumbnailNavigation: false,
      autoPlayVideos: false,
      firstLayer: 1,
      skin: 'borderlesslight',
      skinsPath: 'lib/layerslider/skins/'
      // Please make sure that you didn't forget to add a comma to the line endings
      // except the last line!
      });
      });
    block script
