block mailVars

style
  include css/style.css
center(style='width: 100%; max-width: 580px; background-color: #fff;')
  table#body.news-body.news-colored(width='100%;', cellpadding='0',style="border:1px solid #ccc")
    tr
      td.news-content-wrap
        table.news-content(width='100%')
          tbody
            block mailContent
    tr
      td.news-footer-wrap
        table.news-footer(width='100%', cellpadding='0', cellspacing='0', border='0')
          tbody
            tr.news-about
              td
                table#avatar.news-avatar(cellpadding='5', cellspacing='0', border='0')
                  tbody
                    tr
                      td
                        img(src='http://www.makeupclubapp.com/lib/images/consultora.png', style="width:70px;border-radius: 50px;")
                      td
                        .news-avatar-name
                          b Luana Caetano
                        .news-avatar-role Consultora de Beleza
                        .news-avatar-email
                          a(href='mailto:luana@makeupclubapp.com') luana@makeupclubapp.com 
              td(align='center', style="padding-top: 10px;")                 
                address
                  p Rua Pereira Valente, 542, 2 andar. 
                  p Fortaleza - Ceará
                  p Telefone: (85) 3039-7185
                .news-social-icons
                  a(href='https://www.facebook.com/makeupclubapp')
                    img(src='https://s3-sa-east-1.amazonaws.com/makeupclub/emails/social-icons/facebook-32.png')
                  a(href='http://www.makeupclubapp.com')
                    img(src='http://s3-sa-east-1.amazonaws.com/makeupclub/emails/logo-small.png')
            tr
              td.news-credit(colspan=2, align='center')
                | @ 2015 MakeUp Club
