extends ../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1
        | Olá, 
        =account.name
        |,  
      p
        |Você solicitou a troca de sua senha. Acesso o link a baixo. 
        a(href="http://www.makeupclubapp.com/account/password/new?token_reset=#{encodeURIComponent(account.password_reset_token)}") http://www.makeupclubapp.com/account/password/new?token_reset=#{encodeURIComponent(account.password_reset_token)}
      p 
        |Se você não solicitou a troca de senha, favor desconsiderar essa mensage.
   
