
a {color: #FF0E72;}

.news-body, .news-body table { font-family: Arial; font-size: 12px; color:#333;}
.news-body p {text-align:left; line-height: 1.5	}


.news-body.news-colored .news-header {background-color: #FF0E72;}
.news-body.news-colored .news-footer {}



.news-defaul-info-table th, .news-defaul-info-table td { padding: 10px; border-bottom:1px solid #E3E3E3;}
.news-defaul-info-table th {text-align: left;}
.news-defaul-info-table td {padding: 10px;}


.news-order-info p span { color:#FF0E72;}
.news-order-info td { background:  #F8F8F8; padding: 5px 10px;}



.news-header, .news-foooter {background-color: #f8f8f8;}


.news-footer-area-wrap { padding-left: 10px; padding-right: 10px; padding-top: 20px; padding-bottom: 20px;}


.news-about {background: #f5f5f5; color:#333;}
.news-about address p { font-style: normal; font-size: 11px; padding: 0; margin: 0; line-height: 1; text-align: center;}
.news-about .news-logo {margin: 10px 0;}
.news-about .news-social-icons{margin: 10px 0;}

.news-avatar-name {font-weight: normal; font-size: 15px;}
.news-avatar-role, .news-avatar-email, .news-avatar-email a { text-decoration: none; font-size: 11px; color: #999;}

.news-credit {background: #333; color: #fff; text-align: center; font-size: 10px; padding: 10px 0;}

.news-subscribe-btn {text-transform: uppercase;	}

.news-social-icons a {margin-left:5px; margin-right: 5px;}
.news-pdlr { padding-left: 10px; padding-right: 10px;}
.news-pdtb { padding-top: 20px; padding-bottom: 20px;}
.news-line {color: #f9f9f9; background-color: #f9f9f9;height: 2px;}
.news-pdlr10 {padding-left: 10px; padding-right: 10px;}
.manchete { font-size: 20px !important;font-weight: bold !important;}


.news-btn {padding: 10px; display: block;  text-align:center; border-radius: 5px; text-decoration: none;}

.news-primary-btn,.news-primary-btn a {color: #f9f9f9;}
.news-primary-btn {background:#FF0E72;}

.news-default-btn,.news-default-btn a { background: #E7E7E7; color: #333;}

.news-h-size {font-weight: normal; line-height: 1.4;}
.news-h-size-1{font-size:16px;}
.news-h-size-2{font-size:14px;}
.news-h-size-3{font-size:12px;}

.news-strong {font-weight: bold;}

.news-content-pendent{background: #f5f5f5; border: 5px dotted #999; padding: 14px; text-align: center;}

.blockquote.last {
  display: table;
}

.blockquote img {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.blockquote span {
  font-style: italic;
  font-size: 13px;
  color: rgb(108, 108, 108);
  -webkit-font-smoothing: antialiased;
}
