doctype html
html(lang="pt-br")
  head
    script.
      function utmx_section(){}function utmx(){}(function(){var
      k='97825570-0',d=document,l=d.location,c=d.cookie;
      if(l.search.indexOf('utm_expid='+k)>0)return;
      function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
      indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
      length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
      '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
      '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
      '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
      valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
      '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    script.
      utmx('url','A/B');
 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1")
    title MakeUpClub
    link(rel="shortcut icon", href="/lib/images/favicon.png")
    meta(name="description", content="")
    meta(name="author", content="")
    // 1140px Grid styles for IE
    //if lte IE 9
      link(rel="stylesheet", href="/lib/css/ie.css", type="text/css", media="screen")

    link(rel="stylesheet", href="/lib/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/lib/bootstrap/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/lib/css/style.css")
    link(rel="stylesheet", href="/lib/css/fonts.css")
    link(rel="stylesheet", href="/lib/css/ie.css")
    link(rel="stylesheet", href="/lib/css/animate.css")
    link(rel="stylesheet", href="/lib/css/layerslider.css")
    link(rel="stylesheet", href="/lib/css/owl.carousel.css")
    link(rel="stylesheet", href="/lib/css/owl.theme.css")
    link(rel="stylesheet", href="/lib/js/prettyPhoto/css/prettyPhoto.css")
    link(href="http://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic", rel="stylesheet", type="text/css")
    
  body
    #container
      header#header_wrapper
        #header.clearfix
          .row
            a#logo(href="/")
              img#logo-img(src="/lib/images/logo.png", alt="")
            nav#navigation(role="navigation")
              ul#nav
                li
                  a(href="/#container") Home
                li
                  a(href="/#como_funciona") Como funciona
                li
                  a(href="/#pricing") Quanto custa                
                li
                  a(href="/#funcionapramim") Ideal para
                li
                  a(href="/#about") Dashboard
                a.button-eu-quero(href='/account/new') EU QUERO 7 DIAS GRÁTIS!
                a#button-login(href='/session/new') LOGIN
      
      section#como_funciona
        .section_wrapper
          .section_box
            .row
              .center
                h1#manchete Esse carro pode ser seu! Siga os 7 passos e dê um up na sua carreira
                img(src="/lib/images/carro_rosa2.jpg")

      section#como_funciona
              .call_to_action_white_wrapper
                .call_to_action_white
                  h3.left_fade Como funciona?
                  .separator_wrapper.bounce_fade
                    .separator_first_circle
                      .separator_second_circle
              .section_wrapper
                .section_box
                  .row
                    .twelvecol
                      .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                        .zoom_photo
                          .view.view-first
                            img(src="/lib/images/lead/baixar_ok.jpg")
                        .services_box.min-height
                          h3 Passo 1
                          p 
                            | <a href="" target="_blank"><b>Clique aqui</b></a> e baixe agora o aplicativo

                      .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                        .zoom_photo
                          .view.view-first
                            img(src="/lib/images/lead/contatos_ok.jpg")
                        .services_box.min-height
                          h3 Passo 2
                          p
                            | Importante todos os seus clientes

                      .fourcol.services_item.align_center.left_fade.animated.fadeInLeft.last
                        .zoom_photo
                          .view.view-first
                            img(src="/lib/images/lead/agenda_ok.jpg")
                        .services_box.min-height
                          h3 Passo 3
                          p
                            | Agende visitas

                      .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                        .zoom_photo
                          .view.view-first
                            img(src="/lib/images/vendas.png")
                        .services_box.min-height
                          h3 Passo 4
                          p
                            | Registre suas vendas

                      .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                        .zoom_photo
                          .view.view-first
                            img(src="/lib/images/lead/regra222_ok.jpg")
                        .services_box.min-height
                          h3 Passo 5
                          p
                            | Utilize a regra 2-2-2 

                      .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                        .zoom_photo
                          .view.view-first
                            img(src="/lib/images/lead/mundo_rosa_ok.jpg")
                        .services_box.min-height
                          h3 Passo 6
                          p
                            | Compartilhe o sonho rosa

                      .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.last.fadeInLeft
                        .zoom_photo
                          .view.view-first
                            img(src="/lib/images/lead/graficos_ok.jpg")
                        .services_box.min-height
                          h3 Passo 7
                          p
                            | Gerencie o resultado o resultado da sua unidade
      section.querousar
        br
        h1#comeceagora Comece agora a aproveitar todas as vantagens do MakeUpClub!
        br
        a.button_orange(href='/account/new') EU QUERO 7 DIAS GRÁTIS!

      section#funcionapramim
        .call_to_action_white_wrapper
          .call_to_action_white
            h3.left_fade O MakeUpClub é ideal para:
            .separator_wrapper.bounce_fade
              .separator_first_circle
                .separator_second_circle
        .section_wrapper
          .section_box
            .row
              .twelvecol
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .zoom_photo
                    .view.view-first
                      img(src="/lib/images/consult-extra.png")
                  .services_box(style="min-height:72px")
                    h3 Consultoras com Renda Extra

                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .zoom_photo
                    .view.view-first
                      img(src="/lib/images/consult-full.png")

                  .services_box(style="min-height:72px")
                    h3 Consultoras com Renda Principal

                .fourcol.services_item.align_center.left_fade.animated.last.fadeInRight.fadeInUp
                  .zoom_photo
                    .view.view-first
                      img(src="/lib/images/diretora.png")
                  .services_box(style="min-height:72px")
                    h3 Supervisoras/Diretoras

      section#pricing
        .call_to_action_white
          h3.left_fade Invista na sua carreira
          .separator_wrapper.bounce_fade
            .separator_first_circle
              .separator_second_circle          
        .call_to_action_white_wrapper
          .section_wrapper
            .section_box
              .row
                .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .price_head.red_head
                    h2 Plano Mensal
                    h4
                      | R$ 29,
                      small 90
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold Sem Desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 29,90
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_red(href='/account/new') Registre-se     
                .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .price_head.blue_head
                    h2 Plano Trimestral
                    h4
                      | R$ 26,
                      small 90
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold 10%
                        |  de desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 80,70
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_blue(href='/account/new') Registre-se            
                .ajuste_tamanho.fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .price_head.green_head
                    h2 Plano Semestral
                    h4
                      | R$ 22,
                      small 40
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold 25%
                        |  de desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 134,52
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_green(href='/account/new') Registre-se   
                .ajuste_tamanho.fourcol.fourcol.services_item.align_center.left_fade.animated.last.fadeInRight.fadeInUp
                  .price_head.yellow_head
                    h2 Plano Anual
                    h4
                      | R$ 17,
                      small 90
                    
                  ul.price_features
                    li.first
                      span.left
                        span.bold 40%
                        |  de desconto
                      span.right
                        i.icon.icon-check-mark.green
                    li
                      span.left
                        span.bold Total: 
                        | R$ 215,28
                      span.right
                        i.icon.icon-check-mark.green
                  .price_button_wrapper
                    a.price_button.pb_yellow(href='/account/new') Registre-se

      section.querousar
        br
        h1#comeceagora Comece agora a aproveitar todas as vantagens do MakeUpClub!
        br
        a.button_orange(href='/account/new') EU QUERO 7 DIAS GRÁTIS!
      
      br
      br
      br
      br

      section#testemunhos   
        .testimonials_wrapper
          .testimonials_box
            ul#slider4.rslides
              li
                .row
                  .twelvecol
                    .fivecol
                      .testimonials_info
                        img.testimonials_picture(src="/lib/images/consultora.png", alt="Luana")
                        p.testimonials_name
                          | Luana
                          br
                          span Consultora de beleza
                          br
                          span Mary Kay

                    .sevencol.last
                      p.testimonials_text
                        | "Crie o h&#225;bito de ter um relat&#243;rio mensal das suas vendas e no que voc&#234; tem investido. Compare os relat&#243;rios e veja onde voc&#234; tem acertado e errado."
              li
                .row
                  .twelvecol
                    .fivecol
                      .testimonials_info
                        img.testimonials_picture(src="/lib/images/consultora.png", alt="Luana")
                        p.testimonials_name
                          | Luana
                          br
                          span Consultora de beleza
                          br
                          span Mary Kay                        
                    .sevencol.last
                      p.testimonials_text
                        | "&#201; necess&#225;rio ter uma vis&#227;o ampla e estrat&#233;gica do seu neg&#243;cio, em rela&#231;&#227;o ao nosso mercado t&#227;o concorrido. S&#243; assim voc&#234; ter&#225; mais compet&#234;ncia na administra&#231;&#227;o das suas vendas." 

      section#rodape
        .section_wrapper(style="background:#3CCFE5")
          .section_box
            .row
              .twelvecol
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .services_box(style="min-height:72px; border-radius:10px")
                    h3 Envie sua mensagem!
                    form.form-horizontal#formMensagem
                      .form-group
                        input.form-control(type="text", placeholder="Seu nome", name="nome")
                      .form-group
                        input.form-control(type="email", placeholder="Seu email", name="email")
                      .form-group
                        textarea.form-control(rows="3", name="mensagem")
                      .form-group
                        button.btn.btn-default(type="button", style="width:100%", id="enviarMensagem") Enviar
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft
                  .services_box(style="min-height:72px; border-radius:10px")
                    h3 Onde estamos:
                    iframe(width="100%", src="https://mapsengine.google.com/map/u/0/embed?mid=zinu3qOo2BwM.kufBIjVcuB4I&z=18")
                    address
                      p Rua Pereira Valente com Prof. Dias da Rocha, 542. 2 andar. Telefone: (85) 3039-7185
                      p Fortaleza - Ceará
                .fourcol.services_item.align_center.left_fade.animated.last.fadeInRight.fadeInUp
                  .services_box(style="min-height:72px; border-radius:10px")
                    h3 Curta o MakeUpClub!
                    iframe(
                      src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmakeupclubapp&width&height=290&colorscheme=light&show_faces=true&header=true&stream=false&show_border=true&appId=576023639124795", 
                      scrolling="no", frameborder="0", 
                      style="border:none; overflow:hidden; height:290px; background:white", 
                      allowtransparency="true")

    script(src="/lib/js/jquery-1.11.1.min.js")
    script(src="/lib/js/jquery-migrate-1.2.1.js")
    script(src="/lib/js/modernizr-2.6.1.min.js")
    script(src="/lib/js/plugins.js")
    script(src="/lib/js/jquery.inview.js")
    script(src="/lib/js/prettyPhoto/js/jquery.prettyPhoto.js")
    script(src="/lib/js/script.js")
    script(type="text/javascript", src="/lib/js/jquery.sticky.js")
    include ../google_analytics.jade
    script.
      $(function(){
        $("#enviarMensagem").click(function(){
          if($('input[name="nome"]').val() != "" && $('input[name="email"]').val() != "" && $('input[name="mensagem"]').val() != ""){
            $.ajax({
              type: "POST",
              url: "/mail/send",
              data: $("#formMensagem").serialize()
            }).done(function() {
              $('input[name="nome"]').val("");
              $('input[name="email"]').val("");
              $('textarea[name="mensagem"]').val("");
              alert('Mensagem enviada com sucesso!');
            });
            } else {
              alert("Todos os campos são de preenchimentos obrigatórios");
            }
        });
      });
    script.
      $(window).load(function(){
        $("#header_wrapper").sticky({ topSpacing: 0 });
      });
    script(src="/lib/js/jquery.scrollTo-min.js")
    script.
      (function($){
        $(document).ready(function() {
          $("#nav li a, a.scrool").click(function(e){
            var full_url = this.href;
            var parts = full_url.split("#");
            var trgt = parts[1];
            var target_offset = $("#"+trgt).offset();
            var target_top = target_offset.top;
            $('html,body').animate({scrollTop:target_top -69}, 1000);
            return false;
          });
        });
      })(jQuery);
    script(src="/lib/js/jquery.nav.js")
    script.
      $(document).ready(function() {
        $('#nav').onePageNav({
          filter: ':not(.external)',
          scrollThreshold: 0.25
        });
      });
    script.
      $(function(){
        var shrinkHeader = 70;
        $(window).scroll(function() {
          var scroll = getCurrentScroll();
          if ( scroll >= shrinkHeader ) {
            $('#header_wrapper').addClass('shrink');
          }
          else {
            $('#header_wrapper').removeClass('shrink');
          }
        });
        function getCurrentScroll() {
          return window.pageYOffset;
        }
      });
    script(src="/lib/js/owl.carousel.js")
    script.
      $(document).ready(function($) {
        $("#owl-example").owlCarousel();
      });
      $("body").data("page", "frontpage");
    script(src="/lib/js/responsiveslides.min.js")
    script.
      $(function () {
        $("#slider4, #slider3").responsiveSlides({
          auto: true,
          pager: true,
          nav: true,
          pause: true,
          speed: 1500,
          timeout: 5000,
          namespace: "callbacks",
          before: function () {
            $('.events').append("<li>before event fired.</li>");
          },
          after: function () {
            $('.events').append("<li>after event fired.</li>");
          }
        });
      });
    script(src="/lib/js/greensock.js")
    script(src="/lib/js/layerslider.transitions.js")
    script(src="/lib/js/layerslider.kreaturamedia.jquery.js")
    script.
      $(document).ready(function(){
        $('#layerslider').layerSlider({
          autoStart: true,
          slideDelay: 5000,
          pauseOnHover: false,
          navPrevNext: false,
          navButtons: true,
          thumbnailNavigation: false,
          autoPlayVideos: false,
          firstLayer: 1,
          showCircleTimer: false,
          skin: 'borderlesslight',
          skinsPath: 'lib/layerslider/skins/'
        });
      });
    script.
      $(document).ready(function(){
        $('#layerslider2').layerSlider({
          autoStart: true,
          pauseOnHover: true,
          navPrevNext: false,
          navButtons: true,
          thumbnailNavigation: false,
          autoPlayVideos: false,
          firstLayer: 1,
          skin: 'borderlesslight',
          skinsPath: 'lib/layerslider/skins/'
        });
      });
