doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1")
    title MakeUpClub
    link(rel="shortcut icon", href="/lib/images/favicon.png")
    meta(name="description", content="")
    meta(name="author", content="")
    // 1140px Grid styles for IE
    //if lte IE 9
      link(rel="stylesheet", href="/lib/css/ie.css", type="text/css", media="screen")
    // CSS concatenated and minified via ant build script
    link(rel="stylesheet", href="/lib/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/lib/bootstrap/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/lib/css/style.css")
    link(rel="stylesheet", href="/lib/css/fonts.css")
    link(rel="stylesheet", href="/lib/css/ie.css")
    link(rel="stylesheet", href="/lib/css/animate.css")
    link(rel="stylesheet", href="/lib/css/layerslider.css")
    link(rel="stylesheet", href="/lib/css/owl.carousel.css")
    link(rel="stylesheet", href="/lib/css/owl.theme.css")
    link(rel="stylesheet", href="/lib/js/prettyPhoto/css/prettyPhoto.css")
    link(href="http://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic", rel="stylesheet", type="text/css")

  body
    #container
      header#header_wrapper
        #header.clearfix
          .row
            a#logo(href="/")
              img#logo-img(src="/lib/images/logo.png", alt="")
            nav#navigation(role="navigation")
              ul#nav
                li
                  a(href="/#container") Home
                li
                  a(href="/#como_funciona") Como funciona
                li
                  a(href="/#pricing") Quanto custa                
                li
                  a(href="/#funcionapramim") Ideal para
                li
                  a(href="/#about") Dashboard
                a.button-eu-quero(href='/account/new') EU QUERO 7 DIAS GRÁTIS!
                a#button-login(href='/session/new') LOGIN
      section#como_funciona
        .section_wrapper
          .section_box
            .row
              .twelvecol
                .fourcol.services_item.align_center.left_fade.animated.fadeInLeft.padding-bottom0
                  .zoom_photo
                    .view.view-first
                      h3#manchete Quer ganhar um <del>CARRO ROSA?</del>
                      img(src="/lib/images/carro_rosa.jpg")
                  .services_box
                    h3 Registre-se, baixe o aplicativo e descubra os 7 passos para uma carreira de sucesso

                    div
                      form(method='post', action='/account')
                        .form-group
                          input.form-control(name='name', type='text', placeholder='Nome')
                        .form-group
                          input.form-control(name='email', type='email', placeholder='E-mail')
                        .form-group
                          input.form-control(name='phone', type='tel', id="txttelefone", placeholder='Telefone')
                        .form-group
                          input.form-control(name='password', type='password', placeholder='Senha')
                        .form-group
                          input.form-control(name='password_confirmation', type='password', placeholder='Confirmação da senha')
                        input.button#action_mobile(type='submit', value='Registre-se')

    script(src="/lib/js/jquery-1.11.1.min.js")
    script(src="/lib/js/jquery-migrate-1.2.1.js")
    script(src="/lib/js/modernizr-2.6.1.min.js")
    script(src="/lib/js/plugins.js")
    script(src="/lib/js/jquery.inview.js")
    script(src="/lib/js/prettyPhoto/js/jquery.prettyPhoto.js")
    script(src="/lib/js/script.js")
    script(type="text/javascript", src="/lib/js/jquery.sticky.js")
    include ../google_analytics.jade
    script.
      $(function(){
        $("#enviarMensagem").click(function(){
          if($('input[name="nome"]').val() != "" && $('input[name="email"]').val() != "" && $('input[name="mensagem"]').val() != ""){
            $.ajax({
              type: "POST",
              url: "/mail/send",
              data: $("#formMensagem").serialize()
            }).done(function() {
              $('input[name="nome"]').val("");
              $('input[name="email"]').val("");
              $('textarea[name="mensagem"]').val("");
              alert('Mensagem enviada com sucesso!');
            });
            } else {
              alert("Todos os campos são de preenchimentos obrigatórios");
            }
        });
      });
    script.
      $(window).load(function(){
        $("#header_wrapper").sticky({ topSpacing: 0 });
      });
    script(src="/lib/js/jquery.scrollTo-min.js")
    script.
      (function($){
        $(document).ready(function() {
          $("#nav li a, a.scrool").click(function(e){
            var full_url = this.href;
            var parts = full_url.split("#");
            var trgt = parts[1];
            var target_offset = $("#"+trgt).offset();
            var target_top = target_offset.top;
            $('html,body').animate({scrollTop:target_top -69}, 1000);
            return false;
          });
        });
      })(jQuery);
    script(src="/lib/js/jquery.nav.js")
    script.
      $(document).ready(function() {
        $('#nav').onePageNav({
          filter: ':not(.external)',
          scrollThreshold: 0.25
        });
      });
    script.
      $(function(){
        var shrinkHeader = 70;
        $(window).scroll(function() {
          var scroll = getCurrentScroll();
          if ( scroll >= shrinkHeader ) {
            $('#header_wrapper').addClass('shrink');
          }
          else {
            $('#header_wrapper').removeClass('shrink');
          }
        });
        function getCurrentScroll() {
          return window.pageYOffset;
        }
      });
    script(src="/lib/js/owl.carousel.js")
    script.
      $(document).ready(function($) {
        $("#owl-example").owlCarousel();
      });
      $("body").data("page", "frontpage");
    script(src="/lib/js/responsiveslides.min.js")
    script.
      $(function () {
        $("#slider4, #slider3").responsiveSlides({
          auto: true,
          pager: true,
          nav: true,
          pause: true,
          speed: 1500,
          timeout: 5000,
          namespace: "callbacks",
          before: function () {
            $('.events').append("<li>before event fired.</li>");
          },
          after: function () {
            $('.events').append("<li>after event fired.</li>");
          }
        });
      });
    script(src="/lib/js/greensock.js")
    script(src="/lib/js/layerslider.transitions.js")
    script(src="/lib/js/layerslider.kreaturamedia.jquery.js")
    script.
      $(document).ready(function(){
        $('#layerslider').layerSlider({
          autoStart: true,
          slideDelay: 5000,
          pauseOnHover: false,
          navPrevNext: false,
          navButtons: true,
          thumbnailNavigation: false,
          autoPlayVideos: false,
          firstLayer: 1,
          showCircleTimer: false,
          skin: 'borderlesslight',
          skinsPath: 'lib/layerslider/skins/'
        });
      });
    script.
      $(document).ready(function(){
        $('#layerslider2').layerSlider({
          autoStart: true,
          pauseOnHover: true,
          navPrevNext: false,
          navButtons: true,
          thumbnailNavigation: false,
          autoPlayVideos: false,
          firstLayer: 1,
          skin: 'borderlesslight',
          skinsPath: 'lib/layerslider/skins/'
        });
      });
