extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
      p.manchete Olá #{account.name},
        br
        |tudo bem?

      p
        | Lembra que eu prometi te enviar um benefício exclusivo caso você 
        | baixasse nosso aplicativo? Pois eu tenho uma notícia ainda melhor: 
        | não vou te dar só 01 BENEFÍCIO… vou te dar 03 coisas muito 
        | importantes para o seu sucesso como Consultora de Beleza:

      p
        | - 1 e-book sobre 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-vendas.pdf") <strong>VENDAS</strong>
        br 
        | - 1 e-book sobre 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-Relacionamento.pdf") <strong>RELACIONAMENTO</strong>
        br
        | - 1 e-book sobre 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-gest%C3%A3o-financeira.pdf") <strong>GESTÃO FINANCEIRA</strong>

      p Gostou? Espero que ajude você nessa caminhada!
      p Agora é começar a usar o MakeUpClub e vender muito mais!
      p Boas vendas!!!
      p 
        | PS. - Em instantes, vou enviar um e-mail explicando como usar o 
        | MakeUpClub, para facilitar sua vida! ;)


