extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
        | Olá #{invite.name}, tudo bem?

      p 
        | #{account.name} lhe convidou para participar do seu grupo no MakeupClub App.

      P
        | Nosso aplicativo é uma poderosa ferramenta que vai ajudar a turbinar sua 
        | carreira. Ele ajuda a potencializar suas vendas, clientes e 
        | relacionamentos. Além de permitir que sua lider tenha as informações mais relevantes para te ajudar a vender mais.

      p
        | Para começar, você pode 
        strong baixar o aplicativo
        | e rapidamente 
        strong criar sua conta por 15 detailss grátis. 

      p 
        | Links rápidos:
      
      p
        | Apple Store:
        a(href="https://itunes.apple.com/us/app/makeup-club-catalogo-vendas/id970905570?mt=8") https://itunes.apple.com/us/app/makeup-club-catalogo-vendas/id970905570?mt=8

      p 
        | Play Store:
        a(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app") https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app

      p 
        | Qualquer dúvida ou dificuldade, não hesite em falar comigo. ok? :)

      p
        | Beijos e ótimas vendas!
