extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
      p.manchete Olá #{account.name},
        br
        |tudo bem?
      p
        | Vi que você se cadastrou em nosso site mas ainda não fez o download 
        | do nosso aplicativo. Então estou enviando esse e-mail para 
        | lembrá-la de baixar o MakeUpClub em seu celular!

      p
        | Já somos 750 meninas cadastradas na plataforma, que está nos 
        | ajudando a organizar nosso dia a dia de Consultora e 
        | nos fazendo vender muito mais! Olha só o que as 
        | Consultoras estão falando sobre o nosso aplicativo:
      
      p.blockquote 
        img(src='http://graph.facebook.com/1831206036/picture?type=square')
        span
          | Gente, é um aplicativo que nos ajuda a ter disciplina no 
          | nosso negócio. Claro q não depende dele, mas sim de nós 
          | mesmas, ele só ajuda! É possível ser diretora em três meses sim!!! - Claudilene Klann

      p.blockquote.last
        img(src='http://graph.facebook.com/nevesluanna/picture?type=square')
        span
          | Baixei o aplicativo e estou utilizando a 1 semana. 
          | Já começo a observar os resultados nas minhas 
          | vendas e pós vendas. - Luanna Neves 

      p 
        | Tem certeza que vai ficar de fora desse clube? Várias 
        | Consultoras já estão aproveitando os benefícios que o 
        | MakeUpClub oferece! Só falta você!

      p
        | Google Play:
        br
        a(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app") https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app
      p
        | App Store (Iphone)
        br
        a(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8") https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8
      p
        | Caso tenha dificuldades em baixar, acesse o nosso vídeo explicando 
        | como fazer isso. Basta 
        a(href="https://www.youtube.com/watch?v=trUZq56KFwY&feature=youtu.be") clicar aqui.
      p
        | Estou esperando por você no MakeUp Club, o clube das melhores 
        | Consultoras de Beleza do Brasil! ;)

      p
        | Boas vendas!!!

      p 
        | PS. - Caso tenha qualquer dúvida sobre o aplicativo, estou aqui 
        | para responder! E prometo ajudar você a organizar suas visitas 
        | e vender muito mais pelo MakeUpClub. ;)
