extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
      p.manchete Olá #{account.name},
        br
        |tudo bem?

      p
        | Vi que você ainda não fez o download do nosso aplicativo. 
        | E confesso que estou muito triste com isso. Mas, calma! 
        | Não estou triste com você! Estou triste comigo, pois não 
        | consegui te convencer a entrar no MakeUpClub, um clube de 
        | Consultoras de Beleza que está fazendo muito sucesso no mercado.

      p 
        | Mas, como uma boa Consultora que sou, não desisto fácil e 
        | vou te fazer uma última proposta praticamente 
        | irrecusável! Se você baixar nosso 
        | aplicativo HOJE, você vai ganhar:

      p
        | - Mais 30 dias grátis (ao todo, serão 60 dias grátis para você usar, testar, cadastrar clientes, visitas e vender muito mais!);
        br
        | - 1 e-book sobre <strong>VENDAS</strong>
        br 
        | - 1 e-book sobre <strong>RELACIONAMENTO</strong>
        br
        | - 1 e-book sobre <strong>GESTÃO FINANCEIRA</strong>

      p
        | Google Play:
        br
        a(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app") https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app
      p
        | App Store (Iphone)
        br
        a(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8") https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8
      
      p
        | Veja como outras Consultoras já estão aproveitando o MakeUpClub:

      p.blockquote 
        img(src='http://graph.facebook.com/1831206036/picture?type=square')
        span
          | Gente, é um aplicativo que nos ajuda a ter disciplina no 
          | nosso negócio. Claro q não depende dele, mas sim de nós 
          | mesmas, ele só ajuda! É possível ser diretora em três meses sim!!! - Claudilene Klann

      p.blockquote.last
        img(src='http://graph.facebook.com/nevesluanna/picture?type=square')
        span
          | Baixei o aplicativo e estou utilizando a 1 semana. 
          | Já começo a observar os resultados nas minhas 
          | vendas e pós vendas. - Luanna Neves 

      p
        | Google Play:
        br
        a(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app") https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app
      p
        | App Store (Iphone)
        br
        a(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8") https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8

      p
        | Caso tenha dificuldades em baixar, acesse o nosso vídeo explicando
        | como fazer isso. Basta 
        a(href="https://www.youtube.com/watch?v=trUZq56KFwY&feature=youtu.be") clicar aqui.
      p
        | Estou esperando por você no MakeUp Club, o clube das melhores 
        | Consultoras de Beleza do Brasil! ;)

      p
        | E, antes que eu me esqueça: boas vendas!!!

      p 
        | PS. - Prometo que esse é o último e-mail que eu envio para tentar
        | te trazer para o MakeUpClub. Eu sei que algumas Consultoras preferem
        |  continuar atuando da forma como atuam e eu respeito muito isso. 
        | Cada profissional tem sua forma de trabalhar! De qualquer forma, 
        | deixo aqui meu agradecimento por sua atenção e espero que nos 
        | encontremos em breve. Qualquer dúvida, estou à disposição! ;)

