extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
      p.manchete Olá #{account.name},
        br
        |tudo bem?

      p
        | Vi que você ainda não criou conta, baixou o aplicativo, mas não usa o app. 
        | E confesso que estou muito triste com isso. Mas, calma! Não 
        | estou triste com você! Estou triste comigo, pois ainda não 
        | consegui te convencer a usar no MakeUpClub.

      p
        | Portanto, gostaria de saber se você está tendo alguma 
        | dificuldade, pra que eu possa te ajudar! Por que você 
        | não está conseguindo utilizar o aplicativo? Pode responder 
        | por aqui mesmo.

      p
        | Estou insistindo, pois tenho CERTEZA que o MakeUpClub vai 
        | te ajudar a organizar suas visitas e vender muito mais! E 
        | quero isso pra você e pra todas as Consultoras de Beleza 
        | do Brasil!

      p Veja como outras Consultoras já estão aproveitando o MakeUpClub:

      p.blockquote 
        img(src='http://graph.facebook.com/1831206036/picture?type=square')
        span
          | Gente, é um aplicativo que nos ajuda a ter disciplina no 
          | nosso negócio. Claro q não depende dele, mas sim de nós 
          | mesmas, ele só ajuda! É possível ser diretora em três meses sim!!! - Claudilene Klann

      p.blockquote.last
        img(src='http://graph.facebook.com/nevesluanna/picture?type=square')
        span
          | Baixei o aplicativo e estou utilizando a 1 semana. 
          | Já começo a observar os resultados nas minhas 
          | vendas e pós vendas. - Luanna Neves 

      p Aproveito também pra relembrar os nossos vídeos de ajuda:

      p
        | - Cadastrar uma cliente 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-vendas.pdf") <strong>VENDAS</strong>
        br 
        | - Cadastrar uma atividade 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-Relacionamento.pdf") <strong>RELACIONAMENTO</strong>
        br
        | - Cadastrar uma venda 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-gest%C3%A3o-financeira.pdf") <strong>GESTÃO FINANCEIRA</strong>
        br
        | - Cadastrar uma pós venda 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-gest%C3%A3o-financeira.pdf") <strong>GESTÃO FINANCEIRA</strong>

      p 
        | Cá entre nós: se organiza suas visitas e faz você vender
        | mais, por que não usar?!

      p 
        | Estou esperando por você no MakeUp Club, o clube das melhores 
        | Consultoras de Beleza do Brasil! ;)

      p E, antes que eu me esqueça: boas vendas!!!

      p 
        | PS. - Eu sei que a gente, às vezes, deixa as coisas pra fazer depois. 
        | Se esse for o seu caso, eu proponho um desafio: use o MakeUpClub no
        | próximo final de semana (que é um período mais calmo) para organizar 
        | suas vendas na semana seguinte. GARANTO que você vai notar
        | os resultados positivos ainda nessa primeira semana. Aceita
        | o desafio?  ;)
