extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
      p.manchete Olá #{account.name},
        br
        |tudo bem?

      p 
        | Vi que você baixou nosso aplicativo mas ainda não começou
        | a usar. Então estou enviando esse e-mail para lembrá-la de
        | começar a utilizar o MakeUpClub em seu celular!
      p
        | Já somos 750 meninas cadastradas na plataforma e 
        | 200 vendas cadastradas (!!!). E só estamos crescendo!

      p
        | Caso esteja com dificuldades em utilizar o MakeUp Club,
        | nós temos alguns vídeos para te ajudar!

      p
        | - Cadastrar uma cliente 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-vendas.pdf") <strong>VENDAS</strong>
        br 
        | - Cadastrar uma atividade 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-Relacionamento.pdf") <strong>RELACIONAMENTO</strong>
        br
        | - Cadastrar uma venda 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-gest%C3%A3o-financeira.pdf") <strong>GESTÃO FINANCEIRA</strong>
        br
        | - Cadastrar uma pós venda 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-gest%C3%A3o-financeira.pdf") <strong>GESTÃO FINANCEIRA</strong>

      p
        | Caso queira tirar alguma dúvida diretamente comigo, basta 
        | responder a esse e-mail. Estou à disposição!

      p
        | Várias Consultoras já estão aproveitando os benefícios que
        | o MakeUpClub oferece! Só falta você!

      p
        | Estou esperando por você no MakeUp Club, o clube das
        | melhores Consultoras de Beleza do Brasil! ;)

      p
        | Boas vendas!!!

      p
        | PS. - Caso tenha qualquer dúvida sobre o aplicativo, 
        | estou aqui para responder! E prometo ajudar você a organizar
        | suas visitas e vender muito mais pelo MakeUpClub. ;)
