extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
      p.manchete Olá #{account.name},
        br
        |tudo bem?

      p
        | Vi que você baixou o nosso aplicativo e estou MUITO FELIZ 
        | por isso! Estou feliz pois tenho certeza que vou ajudar 
        | você a organizar suas visitas e vender muito mais! Eu valorizo
        | muito a nossa profissão e quero que todas nós tenhamos o maior
        | sucesso possível!

      p Cá entre nós, NÓS MERECEMOS!

      p Agora que você baixou o MakeUpClub, é hora de começar a usá-lo!

      p 
        | Logo que você abre o aplicativo pela primeira vez, ele lhe ajuda
        | em um passo a passo, ensinando como usar. Porém, eu quero que sua
        |  experiência seja perfeita (quanto mais fácil, para você, usar,
        | mais sucesso você vai ter!).

      p 
        | Portanto, seguem alguns vídeos importantes pra te ajudar a 
        | usar o MakeUpClub da melhor forma possível:

      p
        | - Cadastrar uma cliente 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-vendas.pdf") <strong>VENDAS</strong>
        br 
        | - Cadastrar uma atividade 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-Relacionamento.pdf") <strong>RELACIONAMENTO</strong>
        br
        | - Cadastrar uma venda 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-gest%C3%A3o-financeira.pdf") <strong>GESTÃO FINANCEIRA</strong>
        br
        | - Cadastrar uma pós venda 
        a(href="https://s3-sa-east-1.amazonaws.com/makeupclub/ebook/Ebook-gest%C3%A3o-financeira.pdf") <strong>GESTÃO FINANCEIRA</strong>

      p
        | Já somos 750 meninas cadastradas na plataforma e 200 vendas cadastradas
        | (!!!). Olha só o que as Consultoras estão falando sobre
        | nosso aplicativo:

      p.blockquote 
        img(src='http://graph.facebook.com/1831206036/picture?type=square')
        span
          | Gente, é um aplicativo que nos ajuda a ter disciplina no 
          | nosso negócio. Claro q não depende dele, mas sim de nós 
          | mesmas, ele só ajuda! É possível ser diretora em três meses sim!!! - Claudilene Klann

      p.blockquote.last
        img(src='http://graph.facebook.com/nevesluanna/picture?type=square')
        span
          | Baixei o aplicativo e estou utilizando a 1 semana. 
          | Já começo a observar os resultados nas minhas 
          | vendas e pós vendas. - Luanna Neves 

      p 
        | Estou ansiosa para que você comece logo a usar a plataforma e
        | veja como suas vendar irão crescer rapidamente!

      p
        | Comece a usar o aplicativo HOJE e entre logo para clube das
        | melhores Consultoras de Beleza do Brasil!

      p Boas vendas!!!
