extends ../../template
block mailContent
  tr
    td.news-pdtb.news-pdlr
      p.news-h-size.news-h-size-1.manchete
      p.manchete Olá #{account.name},
        br
        |tudo bem?
      p
        | Não sei se você já sabe, mas você vai vender MUITO MAIS
        | a partir de hoje! Já somos 750 Consultoras usuárias do MakeUpClub
        | e estamos crescendo todo dia! Já são mais de 1500 clientes cadastradas
        | e 300 vendas realizadas pelo aplicativo! 
        | Estamos muito orgulhosos por tudo que está acontecendo!
      p
        | Quer entrar para esse clube das melhores Consultoras de Beleza
        | do Brasil? Faça o download do MakeUpClub em seu smartphone AGORA
        | e ganhe um benefício exclusivo!
      p
        | Google Play:
        br
        a(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app") https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app
      p
        | App Store (Iphone)
        br
        a(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8") https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8
      p
        | Caso tenha dificuldades em baixar, acesse nosso vídeo que explicar 
        | como fazer isso. Basta 
        a(href="https://www.youtube.com/watch?v=trUZq56KFwY&feature=youtu.be") clicar aqui.
      p
        | Então é isso! Bem-vinda ao clube!

      p
        | Boas vendas!!!

      p 
        | PS. - Realmente não posso falar qual o benefício exclusivo agora. 
        | Só posso dizer que vai ajudar você se tornar uma Consultora ainda 
        | mais profissional vender muito mais! Baixe o aplicativo aqui (
        a(href="https://play.google.com/store/apps/details?id=com.makeupclubapp.consultora.app") Google Play, 
        a(href="https://itunes.apple.com/us/app/makeup-club-app/id970905570?ls=1&mt=8") App Store
        | ) e você receberá o benefício em seu e-mail logo depois. ;)



