extend ../admin_template
block content
  .row
    .col-lg-12
      h1.page-header Produtos
  .row
    form(action="/products")
      .col-lg-4
        select(id="brand", name="brand").form-control.brand
          option Selecione uma Marca
          each brand in brands
            option(value="#{brand._id}")= brand.name
      .col-lg-1
        input(type="submit", value="Filtrar", class="btn btn-default")
      .col-lg-1
        .btn.btn-primary(data-toggle="modal", data-target="#productModal")
          | Novo


  .row
    table.table.table-striped
      thead
        tr 
          th Código
          th Nome
          th Preço
          th Preço sem Desconto
          th Linha
          th Ações
      tbody
        each product in products
          tr
            td= product.code
            td= product.name
            td= product.price
            td= product.original_price
            td= product.line
            td
              .btn.btn-primary.btn-sm(onclick="abrirModal(#{JSON.stringify(product)})") Editar

  #productModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Novo Produto
        .modal-body
          form(id="product-form" action="/products", method="POST")
            .form-group
              label Marca
              select(id="brand", name="brand").form-control.brand
                option Selecione uma Marca
                each brand in brands
                  option(value="#{brand._id}")= brand.name
            .form-group
              label Código
              input.form-control(type='text', id="code", name="code", required)
            .form-group
              label Nome
              input.form-control(type='text', id="name", name="name", required)
            .form-group
              label Preço
              input.form-control(type='text', id="price", name="price", required)
            .form-group
              label Preço sem Desconto
              input.form-control(type='text', id="original_price", name="original_price", required)
            .form-group
              label Linha
              input.form-control(type='text', id="line", name="line", required)
          
            button.btn.btn-primary.btn-block(type='submit') Submit


block scripts
  script.
    $(".brand").val('#{brand}');
    function abrirModal(product) {
      $('#product-form').attr('action', '/products/'+product._id);
      $('#brand').val(product.brand);
      $('#code').val(product.code);
      $('#name').val(product.name);
      $('#price').val(product.price);
      $('#original_price').val(product.original_price||product.price);
      $('#line').val(product.line);
      $('#productModal').modal('show');
    }